body {
  background: url(/images/bg-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $dark-blue;
}

.show-info {
  color: $dark-blue;
  padding-top: $ui-padding;
  padding-bottom: $ui-padding;
  border-bottom: 1px solid $dark-blue;
}

.flyer-header {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 100%;
  z-index: -10;
}

.show-info h5 {
  padding-top: 15px;
}

.footer img {
  padding-top: 20px;
}

.show-info h4 {
  padding-top: 10px;
}

.ticket-button {
  color: $dark-blue;
  text-transform: uppercase;
  border: 3px solid $dark-blue;
  transition: all .5s ease 0s;
  border-radius: 5px;
  &:hover {
    color: $white;
    border-color: $white;
    transition: all .5s ease 0s;
  }
  &:focus {}
}

.content-section {
  border-top: 40px solid $dark-blue;
}

.illustration-overlay {
  background: url(/images/youblewit-illustration1.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
  height: 1500px;
  z-index: 2000;
  margin-top: -1290px;
}

.ticket-button {
  letter-spacing: .2em;
}

.sponsors img {
  max-width: 70%;
}

// .ticket-link {
//   display: none;
// }

.spacer {
  height: 900px;
  background: $yellow;
}

.ticket-coming-soon {
  color: $dark-blue !important;
}

.ticket-coming-soon {
  display: none;
}

.bg-pattern {
  // background-image: url(/images/bg.jpg);
  background-size: cover;
  height: 100%;
}

.show-list {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 350px;
  background: $yellow;
  border-radius: 5px;
}

.table-light {
  th, td {
    border-bottom: 1px solid $border-color;
    text-align: left;
  }
}

@media screen and (max-width: 2200px) {
  .illustration-overlay {
    margin-top: -1240px;
  }
}

@media screen and (max-width: 2050px) {
  .illustration-overlay {
    margin-top: -1120px;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .ticket-button {
  letter-spacing: .1em;
  margin-top: 14px;
  }

  .show-list {
    margin-top: 266px;
  }

  .footer img {
    width: 50%;
}

.sponsors img {
  max-width: 40%;
}

}
